#hero {
    align-items: center;
    background-image: url("..//images/adventure-tourism-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 400px;
    justify-content: center;
  }